<% if logged_in? %>
  <p><%= current_user.name %>さん、ログイン中</p>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>TASK LIST へようこそ</h1>
      <%= link_to 'ユーザー登録', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>